@font-face {
  font-family: 'Ruberoid';
  src: url('../../assets/fonts/Ruberoid-UltraLight.woff2') format('woff2'),
       url('../../assets/fonts/Ruberoid-UltraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

button, a {
  cursor: pointer;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Ruberoid', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/mainBG-black.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  [data-theme='dark'] & {
    background-image: url('../../assets/mainBG.svg');
  }
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 20px;
  width: 100%;
}