.greetings {
  font-size: 28px;
  font-weight: 500;
  margin-left: 25px;
}

.name {
  font-size: 68px;
  font-weight: 700;
  margin-top: 8px;
  margin-left: 75px;
  span {
    color: mediumslateblue;
  }
}

.profession {
  font-size: 36px;
  font-weight: 500;
  margin-left: 75px;
  span {
    color: #e99400;
  }
}

.description {
  margin-top: 48px;
  max-width: 1200px;
}

.experience, .technology{
  font-weight: 500;
  margin-top: 12px;
}